{% extends "base.html" %}

{% block content %}
<h1 class="title">

  Olá {{ name }}, seja bem-vindo!!!
</h1>
<h1>
  Produto desenvolvido por Letícia Oliveira Grotto - RA: 2840481823024
</h1>
<br>
<p>O software tem como objetivo permitir que os usuários façam cadastrados de livros.
  <br>
  Esses cadastros servirão, posteriormente, para que livros possam ser trocados e emprestados entre os próprios
  usuários.
  <br>
  A motivação inicial para esse projeto foi, justamente, promover o intercâmbio cultural entre pessoas que se
  interessam por diferentes tipos de leitura.
</p>
{% endblock %}