{% extends "base.html" %}


{% block content %}
<div class="title">
    <h2>Lista de Usuários</h2>
    <br>
</div>
<div class="table-responsive-xl">
    <table class="table table-striped" style="width: 100%;">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Editar</th>
            </tr>
        </thead>
        {% for user in users %}
        <tbody>
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td><a class="sublinhar" href="/deleteu/{{ user.id }}">Excluir</a></td>
                <td><a class="sublinhar" href="/editu/{{ user.id }}">Editar</a></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    <br>
    <a href="{{ url_for('main.index') }}"><input type="button" class="btn btn-primary btn-lg" value="Voltar"></a>    
</div>
{% endblock %}